<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- {% if a > 40 %}
        {{a}}
    {% endif %}
   -->
   <!--{% if a > b and b > C %}
       a max {{a}}
    {% elif b > c %}
       b max {{b}}
    {% else %}
      c max{{c}}
    {% endif %}
   -->
  <!-- {% if a > b %}
        {% if a > c%}
           a max{{a}}
        {% else %}
           max b{{b}}
        {% endif %}
    {% else %}
       {% if b > c %} 
           b max{{b}}
        {% else %}
           c max{{c}}
        {% endif %}
    {% endif %}    
  -->
  {% for i in s %}
    <h1>{{i}}</h1>
   {% endfor %}

   

</body>
</html>